<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharemate.server.dao.FollowMapper">
	<resultMap type="com.sharemate.entity.Follow" id="followMap">
		<id column="id" property="id"/>
		<result column="follow_date" property="followDate"/>
	</resultMap>
	<select id="getFollowCountByUserId" resultType="int">
		select count(*) from follow where follow_user_id = #{userId}
	</select>
	<select id="getFanCountByUserId" resultType="int">
		select count(*) from follow where followed_user_id = #{userId}
	</select>
</mapper>