<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharemate.server.dao.NoteMapper">
<resultMap id="guanzhunote" type="com.sharemate.entity.Note">
	<id property="noteId" column="note_id"/>
	<result property="noteTitle" column="note_title"/>
	<result property="noteDetail" column="note_detail"/>
	<result property="noteImage" column="note_image"/>
	<result property="noteDate" column="note_date"/>
	<!--  <result property="noteCommentCount" column="note_comment_count"/>
	<result property="noteCollectionCount" column="note_collection_count"/>
	<result property="noteLikeCount" column="note_Like_count"/>-->
</resultMap>
<resultMap id="getguanzhuuser" type="com.sharemate.entity.Follow">
	<id property="id" column="id"/>
	<result property="followuserid" column="follow_user_id"></result>
	<result property="followeduserid" column="followed_user_id"></result>
</resultMap>
<resultMap id="comment" type="com.sharemate.entity.comment">
	<id property="commentId" column="comment_id"/>
	<result property="commentDetail" column="comment_detail"></result>
	<result property="commentDate" column="comment_date"></result>
	<result property="userId" column="user_id"></result>
	<result property="noteId" column="note_id"></result>
</resultMap>
	<select id="findGuanzhuUser" resultMap="getguanzhuuser" >select *from follow where follow_user_id=#{followuserid}</select>
	<select id="findGuanzhuNoteById" resultMap="guanzhunote">select * from note where user_id=#{userId} </select>
	<insert id="insertNote">insert into note(note_title, note_detail, note_image)values(#{noteTitle}, #{noteDetail}, #{noteImage}) </insert>
	<select id="findNoteByNoteId" resultMap="guanzhunote">select * from note where note_id=#{noteid}</select>
	<update id="addZanCount">update note set note_like_count=#{noteLikeCount} where note_id=#{noteId}</update>
	<update id="addCollectCount">update note set note_collection_count=#{noteCollectionCount} where note_id=#{noteId}</update>
	<!--插入赞-->
	<insert id="insertLike">insert into likes(user_id,note_id,like_date) values(#{userid},#{noteid},#{likeDate})</insert>
	<insert id="insertCollect">insert into collect(user_id,note_id) values(#{userid},#{noteid})</insert>
	<insert id="insertBaseNote" keyProperty="noteId" useGeneratedKeys="true">insert into note(note_title,note_detail,note_address,type_id,user_id,note_date,note_video) values(#{noteTitle},#{noteDetail},#{notePosition},#{typeId},#{userId},#{noteDate},#{videoPath})</insert>
	<!--插入评论-->
	<insert id="insertComment">insert into comment(comment_detail,comment_date,user_id,note_id) values(#{commentDetail},#{commentDate},#{userId},#{noteId})</insert>
	<!--插入回答-->
	<!-- 获取赞的总数 -->
	<select id="getZancount" resultType="int">select count(note_id) from likes where note_id=#{noteid}</select>
	<!-- 获收藏的总数 -->
	<select id="getCollectcount" resultType="int">select count(note_id) from collect where note_id=#{noteid}</select>
	<!-- 获取评论的总数 -->
	<select id="getCommentcount" resultType="int">select count(note_id) from comment where note_id=#{noteid}</select>
	<!-- 获取评论 -->
	<select id="findCommentByNoteId" resultMap="comment">select * from comment where note_id=#{noteid}</select>
</mapper>