<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharemate.server.dao.ReplyMapper">
	
	<resultMap type="com.sharemate.entity.Reply" id="replyMap">
		<id property="replyId" column="reply_id"/>
		<result property="reReplyId" column="re_reply_id"/>
		<result property="replyDetail" column="reply_detail"/>
		<result property="replyDate" column="reply_time"/>
		<association property="comment"
			column="{commentId = comment_id}"
			select = "com.sharemate.server.dao.CommentMapper.getCommentByCommentId"></association>
		<association property="user"
			column="{id=user_id}"
			select="com.sharemate.server.dao.UserMapper.getUserByUserId"></association>
	</resultMap>
	
	<!-- 根据用户的id查询该用户发布过的所有回复 -->
	<select id="getReplyListByUserId" resultMap="replyMap">
		select * from reply where user_id=#{userId}
	</select>
	<!-- 根据回复id查询回复详情 -->
	<select id="getReplyByReplyId" resultMap="replyMap">
		select * from reply where reply_id=#{replyId}
	</select>
	<!-- 根据被回复id查询回复该回复的回复列表 -->
	<select id="getReplyListByReReplyId" resultMap="replyMap">
		select * from reply where re_reply_id = #{reReplyId}
	</select>
	<!-- 根据评论id查询对该评论的所有回复 -->
	<select id="getReplyListByCommentId" resultMap="replyMap">
		select * from reply where comment_id = #{commentId}
	</select>
	<!-- 向回复表中添加对评论的回复 -->
	<insert id="addCommentReply">
		insert into reply(user_id,comment_id,reply_detail,reply_time) 
		values(#{userId},#{commentId},#{replyDetail},#{replyDate})
	</insert>
	<!-- 向回复表中添加对回复的回复 -->
	<insert id="addReplyReply">
		insert into reply(user_id,re_reply_id,reply_detail,reply_time)
		values(#{userId},#{reReplyId},#{replyDetail},#{replyDate})
	</insert>
	<!-- 从回复表中删除一条回复 -->
	<delete id="deleteReply">
		delete from reply where reply_id = #{replyId}
	</delete>
</mapper>