<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharemate.server.dao.UserMapper">
	<!-- 定义结果映射 -->
	<resultMap type="com.sharemate.entity.User" id="userMap">
		<!-- 必须要有的元素，指定主键对应的属性值 -->
		<id column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="user_password" property="userPassword"/>
		<result column="user_photo" property="userPhoto"/>
		<result column="user_sex" property="userSex"/>
		<result column="user_phone" property="userPhone"/>
		<result column="user_address" property="userAddress"/>
		<result column="user_birth" property="userBirth"/>
		<result column="user_intro" property="userIntro"/>
	</resultMap>
	<!-- 映射select语句 -->
	<select id="findUserByUserId" resultMap="userMap">
		select * from user where user_id = #{userId}
	</select>
	
</mapper>